body {
    font-family: 'Segoe UI';
}
input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}
.form label {
    margin-bottom: 10px;
    color: #333;
    display: block;
}
.submit input {
    width: 100px;
    height: 40px;
    background-color: #333;
    color: #FFF;
    border-radius: 3px;                
}